Repository polkadot-developers/polkadot-docs, pull requests merged in 2024-10, with the labels that each got.

#58 [Content migration] - Asset Conversion
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-1.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-10.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-11.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-12.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-13.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-14.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-15.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-16.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-2.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-3.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-4.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-5.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-6.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-7.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-8.webp
  images/polkadot-protocol/system-parachains/asset-hub/asset-conversion/asset-conversion-9.webp
  polkadot-protocol/system-parachains/asset-hub/.pages
  polkadot-protocol/system-parachains/asset-hub/asset-conversion.md
Labels: Ready for Review

#3 [Substrate.io Migration] Glossary
  polkadot-protocol/introduction/.pages
  polkadot-protocol/introduction/glossary.md
Labels: Ready for Review

#59 [Content migration] - Asset Hub introduction, Register a Local Asset & Register a Foreign Asset
  develop/parachain-devs/system-parachains/.pages
  develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub.md
  develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub.md
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-1.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-2.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-3.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-4.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-5.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreign-asset-6.webp
  images/develop/parachain-devs/system-parachains/register-a-foreign-asset-on-asset-hub/register-a-foreing-asset-3.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-1.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-2.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-3.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-4.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-5.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-6.webp
  images/develop/parachain-devs/system-parachains/register-a-local-asset-on-asset-hub/register-a-local-asset-7.webp
  polkadot-protocol/system-parachains/asset-hub/.pages
  polkadot-protocol/system-parachains/asset-hub/asset-hub-introduction.md
Labels: Ready for Review

#28 [Substrate.io Migration] Tutorials -> Build a Parachain -> Acquire a TestNet Slot
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/overview/localParachainTx.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/overview/paraToPara.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/overview/relayToSystem.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/overview/setup.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/reference/ca-example-request.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/reference/ctt-example-request.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/reference/de-example-request.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/reference/ffi-example-request.ts
  .snippets/code/develop/application-devs/tooling/asset-transfer-api/reference/format.ts
  .snippets/code/develop/parachain-devs/interoperability/hrmp-channels/hrmp-query-output.json
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/testnet-slot-1.json
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/testnet-slot-2.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-1.rs
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-2.json
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-3.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-4.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-5.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/connect-a-parachain-6.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/genesis-state.md
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/parachain-running.md
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain/start-collator-node.md
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/prepare-relay-chain/relay-chain-1.html
  .snippets/code/tutorials/polkadot-sdk/build-a-parachain/prepare-relay-chain/relay-chain-2.html
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-1.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-10.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-11.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-2.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-3.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-4.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-5.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-6.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-7.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-8.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-9.webp
  tutorials/polkadot-sdk/build-a-parachain/.pages
  tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot.md
  tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain.md
  tutorials/polkadot-sdk/build-a-parachain/prepare-relay-chain.md
Labels: Ready for Review

#7 [Polkadot Wiki Migration] Node Endpoints Page
  develop/application-devs/interact/.pages
  develop/application-devs/interact/endpoints.md
Labels: Ready for Review

#18 [Polkadot Wiki Migration] Development Networks
  polkadot-protocol/introduction/.pages
  polkadot-protocol/introduction/polkadot-networks.md
Labels: Ready for Review

#30 [Substrate.io Migration] Tutorials -> Build a Parachain -> Transfer Assets with XCM
  develop/parachain-devs/interoperability/.pages
  develop/parachain-devs/interoperability/transfer-assets-with-xcm.md
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-1.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-2.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-3.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-4.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-5.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-6.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-7.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-8.webp
  images/develop/parachain-devs/interoperability/transfer-assets-with-xcm/transfer-assets-with-xcm-9.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-10.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-11.webp
  images/tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot/acquire-a-testnet-slot-9.webp
  tutorials/polkadot-sdk/build-a-parachain/acquire-a-testnet-slot.md
  tutorials/polkadot-sdk/build-a-parachain/connect-a-parachain.md
Labels: Ready for Review

#49 Polkadot Protocol > Protocol Components > Accounts > Address Formats
  .snippets/code/polkadot-protocol/protocol-components/accounts/address-formats/address-formats-1.html
  .snippets/code/polkadot-protocol/protocol-components/accounts/address-formats/address-formats-2.html
  .snippets/code/polkadot-protocol/protocol-components/accounts/address-formats/address-formats-3.js
  polkadot-protocol/protocol-components/accounts/.pages
  polkadot-protocol/protocol-components/accounts/address-formats.md
Labels: Ready for Review, Polkadot Protocol

#20 [Polkadot Wiki Migration] Common Errors
  develop/application-devs/.pages
  develop/application-devs/debugging-errors.md
  images/develop/applications-devs/debugging-errors/errors-1.webp
  images/develop/applications-devs/debugging-errors/errors-2.webp
  images/develop/applications-devs/debugging-errors/errors-3.webp
Labels: Ready for Review

#25 [Substrate.io Migration] Runtime APIs
  develop/parachain-devs/runtime-development/.pages
  develop/parachain-devs/runtime-development/runtime-apis.md
Labels: Ready for Review

#41 [Polkadot Wiki Migration] Build a Community
  infrastructure/validators/.pages
  infrastructure/validators/build-a-community.md
Labels: Ready for Review, Infrastructure

#63 Polkadot Protocol > Protocol Components > Accounts > Account Balance Types
  images/polkadot-protocol/protocol-components/accounts/account-balance-types-1.webp
  images/polkadot-protocol/protocol-components/accounts/locks-example-1.webp
  images/polkadot-protocol/protocol-components/accounts/locks-example-2.webp
  polkadot-protocol/protocol-components/accounts/.pages
  polkadot-protocol/protocol-components/accounts/account-balance-types.md
Labels: Ready for Review, Polkadot Protocol

#46 [Polkadot Wiki Migration] Using Systemd
  infrastructure/validators/onboarding/.pages
  infrastructure/validators/onboarding/run-validator/.pages
  infrastructure/validators/onboarding/run-validator/index.md
  infrastructure/validators/onboarding/run-validator/using-systemd.md
Labels: Ready for Review, Infrastructure

#34 [Polkadot Wiki Migration] Set up a Bootnode
  .snippets/code/infrastructure/general/bootnode.conf
  infrastructure/general/.pages
  infrastructure/general/setup-bootnode.md
Labels: Ready for Review, Infrastructure

#50 Polkadot Protocol > Protocol Components > Accounts > Account Data Structures
  .snippets/code/polkadot-protocol/protocol-components/accounts/account-data-structure/account-data-structure-1.rs
  .snippets/code/polkadot-protocol/protocol-components/accounts/account-data-structure/account-data-structure-2.rs
  polkadot-protocol/protocol-components/accounts/.pages
  polkadot-protocol/protocol-components/accounts/account-data-structure.md
Labels: Ready for Review, Polkadot Protocol

#78 [Substrate.io Migration] - Polkadot Protocol > Protocol Components > Transactions > Transactions LifeCycles
  images/polkadot-protocol/polkadot-components/transactions/transactions-lifecycles/transaction-lifecycle-1.webp
  polkadot-protocol/protocol-components/transactions/.pages
  polkadot-protocol/protocol-components/transactions/transactions-lifecycle.md
Labels: Ready for Review, Polkadot Components

#42 [Polkadot Wiki Migration] Validator Payout
  infrastructure/validators/.pages
  infrastructure/validators/rewards-payout.md
Labels: In Progress, Infrastructure

#86 [Polkadot Wiki Migration] - Consensus Protocols
  images/polkadot-protocol/architecture/polkadot-chain/pos-consensus/consensus-protocols-1.webp
  infrastructure/running-a-node/consensus-protocols.md
  polkadot-protocol/architecture/polkadot-chain/pos-consensus.md
  polkadot-protocol/protocol-operations/.pages
Labels: Ready for Review, Polkadot Operations

#80 [Substrate.io Migration] - Polkadot Protocol > Protocol Components > Transactions > Transactions Formats
  .snippets/code/polkadot-protocol/transactions/transactions-formats/signed-tx-example.rs
  .snippets/code/tutorials/polkadot-sdk/build-a-blockchain/add-trusted-nodes/chainspec-head.html
  .snippets/code/tutorials/polkadot-sdk/build-a-blockchain/add-trusted-nodes/chainspec-tail.html
  .snippets/code/tutorials/polkadot-sdk/build-a-blockchain/add-trusted-nodes/node-output-1.html
  polkadot-protocol/protocol-components/transactions/transactions-formats.md
Labels: Ready for Review, Polkadot Components

#85 [Substrate.io Migration] - Polkadot Protocol > Protocol Components > Transactions > Transactions Weights and Fees
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/custom-fees.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/custom-inclusion-fee.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/default-weight-annotation.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/dynamic-weight.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/normal-dispatch-and-user-is-not-charged.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/operational-dispatch.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/weight-calculator.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/weight-correction.rs
  .snippets/code/polkadot-protocol/trasactions/transactions-weights-and-fees/weight-read-write-annotation.rs
  polkadot-protocol/protocol-components/transactions/transactions-weights-and-fees.md
Labels: Ready for Review, Polkadot Components

#9 [Polkadot Wiki Migration] Getting Started - Introduction to the Polkadot SDK
  develop/parachain-devs/get-started/polkadot-sdk/get-started-psdk.md
Labels: Ready for Review
